extends layout

block content
  nav(class='nav')
    div(class='container navbar') 
      a(href='#' class='btn brand') Pollzz
      div(class='navbar-right')
        a(href='#' class='btn btn-secondary navbar-right-item char-name') Hüso
  div(class='content')
    div(class='topics text-center')
      h1(class='text-center content-header') Topics
      hr(class='header-seperator')
      div(class='dummy-div')
    div(class='posts text-center')
      h1(class='text-center content-header') Posts
      hr(class='header-seperator')
      div(class='dummy-div')
    div(class='popular')
      h1(class='text-center content-header') Popular
      hr(class='header-seperator')
      div(class='dummy-div')
