extends layout

block content
  nav(class='nav')
    div(class='container navbar') 
      a(href='#' class='btn brand') Pollzz
      div(class='navbar-right')
        a(class='btn btn-secondary navbar-right-item char-name') Hüso
  div(class='content')
    
    div(class='posts text-center')
      h1(class='text-center content-header') Add a Post
      hr(class='header-seperator')
      form(class='form' autocomplete="off")
        label(for="question" class='label') Question
        input(type="text" id='question' class='input' autocomplete="off" placeholder='Give your question a name...')
        label(for="choice" class='label') Choices
        div
          input(type="text" id='choice' class='input-choice' autocomplete="off" placeholder='Give your choices...')
          button(class='btn-choice' id='addChoiceBtn') Add Choice
        div(id='choices-added' class='choices-added')
        input(type="submit", value="Post Question" class='btn btn-secondary submit' id='submit')
      h1(class='text-center content-header') Posts
      hr(class='header-seperator')
      div(class='dummy-div')    
    div(class='popular')
      h1(class='text-center content-header') Popular
      hr(class='header-seperator')
      div(class='dummy-div')
    div(class='topics text-center')
      h1(class='text-center content-header') Topics
      hr(class='header-seperator')
      div(class='dummy-div')
