$light-color: #f8f9fa 
$primary-color: #007bff
$secondary-color: #6c757d
$info: #fd7e14

*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background-color: white
	height 100vh

a
	text-decoration: none

ul
	list-style: none

.container
	width: 900px
	margin: 0 auto

.nav
	border-bottom: 0.2px solid gray

	.navbar
		display: flex
		justify-content: space-between
		align-items: center
		padding: 1rem 0

		.brand
			color: $primary-color
			font-size: 2rem
			transition: text-shadow 1s

		.brand:hover
			color: orange
			text-shadow: 0 0 5px #000000

		.navbar-right
			display: flex
			justify-content: space-between
			align-items: center

		.navbar-right-item
			margin: 1rem 1.5rem

.content
	display: flex
	justify-content: center
	height: 100%
	padding-top: 2rem
	margin: 0 1rem

	.posts
		flex: 50%
		margin: 0 2rem

	.topics
		flex: 20%

	.popular
		flex: 20%

	.topics, .popular, .posts
		background-color: $light-color
		border: 0.2px solid gray
		border-radius: 8px
		box-shadow: 10px 10px grey

.btn
	padding: 0.5rem 1rem

.btn-primary
	background-color: $primary-color

.btn-secondary
	background-color: $light-color

.btn-secondary:hover
	background-color: gray
	color: white

.error
	padding: 3rem

.text-center
	text-align: center

.content-header
	padding-top: 1rem

.header-seperator
	width: 80%
	margin: 0 auto

.dummy-div
	padding-bottom: 20rem

.char-name
	padding: 0.5rem 2rem

.form
	margin: 1rem 0

	.input
		display: block
		margin: 1rem auto
		width: 20rem
		height: 2rem
		border: 1px solid blue
		border-radius: 10px
		padding-left: 10px
		padding-right: 10px

	.input:focus
		border: 2px solid blue
		transform: scale(1.02)
		outline: none

	.label
		margin-top: 1rem

	.submit
		border-radius: 10px

	.submit:hover
		background-color: $primary-color
		color: $light-color
		box-shadow: 2px 2px gray
